<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MasterPiece"
        tools:targetApi="31">
        <activity
            android:name=".features.store.pages.PasarelaDePagoActivity"
            android:exported="false" />
        <activity
            android:name=".features.productos.pages.DetalleProductoActivity"
            android:exported="false" />
        <activity
            android:name=".features.empleados.pages.ReporteEmpleadosActivity"
            android:exported="false" />
        <activity
            android:name=".features.ventas.pages.ReporteVentasActivity"
            android:exported="false" />
        <activity
            android:name=".features.ventas.pages.CatalogoVentaProductosActivity"
            android:exported="false" />
        <activity
            android:name=".features.productos.pages.CatalogoProductosActivity"
            android:exported="false" />
        <activity
            android:name=".features.store.pages.GeneralActivity"
            android:exported="false" />
        <activity
            android:name=".features.clientes.pages.ClienteCatalogoActivity"
            android:exported="false" />
        <activity
            android:name=".features.clientes.pages.ClienteRegister"
            android:exported="false" />
        <activity
            android:name=".features.auth.pages.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".features.store.pages.CatalogoProductoActivity"
            android:exported="false" />
        <activity
            android:name=".features.store.pages.TokenActivity"
            android:exported="false" />
        <activity
            android:name=".features.auth.pages.usuarios_catalogo"
            android:exported="false" />
        <activity
            android:name=".features.auth.adapter.UsuarioAdapter"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>